.section-formacion_que_aprenderas-main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 68px;
  padding-bottom: 150px;
  background-color: var(--branco-escuro);
}

.section-formacion_que_aprenderas-title-wrapper {
  display: flex;
  flex-direction: column;
}

.section-formacion_que_aprenderas-title {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 34px;
}

.section-formacion_que_aprenderas-title h1 {
  text-align: center;
}
