.section-procedimiento_fotos-main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 68px;
  padding-bottom: 100px;
  background-color: var(--preto-escuro);
}

.section-procedimiento_fotos-title-wrapper {
  display: flex;
  flex-direction: column;
}

.section-procedimiento_fotos-title {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 34px;
}

.section-procedimiento_fotos-title h1 {
  text-align: center;
}

.section-procedimiento_fotos-card-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
}
