.section_sobre_details-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--branco-escuro);
}

.section_sobre_details-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding: 32px 15px 95px 15px;
}

.section_sobre_details-text-up {
  display: flex;
  justify-content: center;
  padding: 0 0 32px 0;

  p {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    color: var(--font-black-color);
  }
}

.section_sobre_details-text-down {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 23px 0 0 0;

  p {
    &:nth-child(odd) {
      margin-right: 20px;
    }
    &:nth-child(even) {
      margin-left: 20px;
    }
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    color: var(--font-black-color);
    line-height: 25px;
    width: min(max(285px, 45%), 422px);

    @media screen and (max-width: 640px) {
      &:nth-child(odd) {
        margin-right: 0;
      }
      &:nth-child(even) {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
    p {
      width: 100%;
    }
  }
}

.section_sobre_details-mosaic-wrap {
  $height: min(max(310px, 100vw), 940px);

  position: relative;
  width: 100%;
  height: $height;

  .section_sobre_details-mosaic {
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    left: 50%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2%;
    grid-auto-flow: row;
    grid-template-areas:
      'mosaic-pic1 mosaic-pic1 mosaic-pic2'
      'mosaic-pic1 mosaic-pic1 mosaic-pic5'
      'mosaic-pic3 mosaic-pic4 mosaic-pic5'
      'mosaic-pic6 mosaic-pic7 mosaic-pic7';
    width: 100%;
    height: $height;

    .mosaic-pic1 {
      grid-area: mosaic-pic1;
      background-color: antiquewhite;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      // background-img -> inside the component
    }

    .mosaic-pic2 {
      grid-area: mosaic-pic2;
      background-color: antiquewhite;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .mosaic-pic3 {
      grid-area: mosaic-pic3;
      background-color: antiquewhite;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .mosaic-pic4 {
      grid-area: mosaic-pic4;
      background-color: antiquewhite;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .mosaic-pic5 {
      grid-area: mosaic-pic5;
      background-color: antiquewhite;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .mosaic-pic6 {
      grid-area: mosaic-pic6;
      background-color: antiquewhite;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .mosaic-pic7 {
      grid-area: mosaic-pic7;
      background-color: antiquewhite;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: opacity(80%) sepia(20%) grayscale(25%);
    }
  }
}
