@media screen and (max-width: 590px){

    .section-contenido-content-list{
    
        height: auto;
        justify-content: flex-start;
        min-width: 285px;

        ul{
            width: 100%;

        }

    
    }


}