.section-contenido-main {
  padding: 35px 0 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--rosa-claro);
}

.section-contenido-wrap {
  padding: 0 8% 0 8%;
}

.section-contenido-description {
  margin: 35px 0 29px 0;

  p {
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--font-black-color);
  }
}

.section-contenido-content-wrap {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.section-contenido-content-subtitle {
  p {
    font-family: 'Ace Sans';
    color: var(--rosa-escuro);
    margin-left: 12px;
    margin-bottom: 5px;
  }
}
.section-contenido-content-list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;

  height: 360px;
  width: 65%;
  min-width: 450px;
  border-top: 1px solid var(--rosa-medio);
  border-bottom: 1px solid var(--rosa-escuro);

  flex-grow: 1;

  ul {
    // height: 20px;
    display: flex;
    align-items: center;
    width: 50%;

    padding-right: 10px;

    li {
      display: flex;
      align-items: center;

      font-family: Arial;
      font-weight: normal;
      font-size: 13px;
      line-height: 24px;
      color: var(--font-black-color);
    }

    .ball {
      align-self: flex-start;
      min-width: 7px;
      min-height: 7px;
      margin-top: 8px;
      margin-right: 7px;
      background-color: var(--rosa-escuro);
      border-radius: 50%;
    }
  }
}

.section-contenido-content-img {
  height: 360px;
  width: 30%;
  min-width: 230px;
  flex-grow: 1;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
