.section-citas_reservas-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding-top: 79px;
  padding-bottom: 48px;
  background-color: var(--branco-escuro);

  $screen: 500px;
  @media screen and (max-width: $screen) {
    padding-top: 17px;
  }
}

.section-citas_reservas-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  padding: 0 20px 0 20px;
}

.section-citas_reservas-text {
  width: 48%;
  min-width: 290px;
  margin: 0 0 38px 0;
  flex-grow: 1;

  p {
    font-family: Arial;
    font-size: 16px;
    line-height: 26px;
    color: var(--font-black-color);
  }

  $screen: 620px;
  &:nth-child(odd) {
    padding-right: 15px;

    @media screen and (max-width: $screen) {
      padding: 0;
    }
  }

  &:nth-child(even) {
    padding-left: 15px;

    @media screen and (max-width: $screen) {
      padding: 0;
    }
  }
}
