$image_width: 272px;


.section-procedimientos_cards-card-wrap a{

    margin: 0 2% 20px 2%;

}

.component-procedimento_card-wrap{

    width: $image_width;

    display: flex;
    flex-direction: column;
    padding:5px;
    // margin: 0 19px 20px 19px;

    filter: brightness(1.1) grayscale(0.5);
    cursor: pointer;

    transition: 1s;


    ////////////////////////////////
    ////// component BigTitle //////
    ////////////////////////////////
    .bigtitle h1{text-align: left; margin-left: 3px;}
    ////////////////////////////////
    ////////////////////////////////

    &:hover{

        background-color: var(--rosa-claro);
        filter: brightness(1) grayscale(0);
        transition: .5s;

        .component-procedimento_card-pic-img{
            transform: scale(1.04);
            transition: .5s;

        }


    }
}

.component-procedimento_card-pic-img{

    width: 100%;
    min-height: $image_width;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 30px;

    transition: 1s;

}

.component-procedimento_card-list{


    margin-top: 20px;

    ul{
        height: 35px;
        display: flex;
        align-items: center;
        width: 100%;

        li{

            display: flex;
            align-items: center;

            font-family: Arial;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color:var(--font-black-color);
    

        }

        .ball{

            width: 10px;
            height: 10px;
            margin-right: 10px;
            margin-left: 5px;
            background-color: var(--rosa-escuro);
            border-radius: 50%;


        }
    }

}