.section-SectionProcedimientoDetails-bigtitle-01-wrap {
  display: none;
}

.section-SectionProcedimientoDetails-bigtitle-02-wrap {
  display: inherit;

  .bigtitle h1 {
    text-align: left;
  }
}

////////////////////////////
////////////////////////////
////////////////////////////

.section-SectionProcedimientoDetails-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 34px 20px 38px 20px;
  background-color: var(--branco-escuro);

  .section-SectionProcedimientoDetails-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    z-index: 0;

    .section-SectionProcedimientoDetails-content-up {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-grow: 1;
      width: 46%;

      .article-SectionProcedimientoDetails-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 100%;
        height: 100%;

        h2 {
          margin-bottom: 17px;
          font-family: AppleGaramond-Bold;
          font-size: 18px;
        }

        p {
          margin-top: 20px;
          font-family: Arial, Helvetica, sans-serif;
          color: var(--font-black-color);
          font-size: 16px;
          line-height: 25px;
        }
      }
    }

    .section-SectionProcedimientoDetails-content-down {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      margin: 35px 0 20px 0;
      padding: 0 10px 0 10px;

      p {
        font-family: Arial;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: var(--font-black-color);
        margin-bottom: 20px;
      }
    }

    .section-SectionProcedimientoDetails-img {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      min-height: 275px;
      flex-grow: 1;
      margin-right: 6%;
      width: min(max(285px, 46%), 460px);

      @media screen and (max-width: 567px) {
        margin-right: 0;
      }

      .image-section-SectionProcedimientoDetails-wrapper {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        .image-section-SectionProcedimientoDetails-picture {
          width: 100%;
          height: 100%;

          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
