@media screen and (max-width: 681px){

    .component-CitasResercasCard-wrap{

        align-items: center;    
    
    }

    .component-CitasResercasCard-list{

        justify-content: center;
    
        span{
            text-align: center;
        }
    
    }


}