// $CardHeight: 350px;
// $CardWidth: 254px;


.carousel-container {

  position: relative;
  // height: $CardHeight;
  // max-width: 973px;
  margin: 0 auto;
  overflow: hidden;
  touch-action: pan-y;


  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.carousel-track {
  display: flex;
  height: 100%;
}

.carousel-card {
  // flex: 0 0 calc(#{($CardWidth + 30)}); // gap: 30px
  // margin: 0 15px 0 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.carousel-card-inner-wrap {

  display: flex;

  // flex-direction: column;
  // // width: $CardWidth;
  // // height: $CardHeight;
  // // margin: 10px 0 10px 0;
  // box-shadow: 0 0 5px 2px #0003;
  // border-radius: 2px;
  // cursor: pointer;

  // text-align: center;
  // font-weight: bold;
  // color: white;
  // -webkit-tap-highlight-color: transparent;
}

.carousel-pagination-wrapper {
  margin: 25px 0 5px 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  // pointer-events: none;
}

.carousel-pagination-button {
  
  &--left {
    align-items: center;
    background: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  &--right {
    align-items: center;
    background: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

}

.carousel-pagination-button-arrow {
  border: solid var(--rosa-escuro);
  border-width: 0 2px 2px 0;
  height: 20px;
  width: 20px;
  padding: 3px;

  &--left {
    transform: rotate(135deg);
  }

  &--right {
    transform: rotate(-45deg);
  }
}

.carousel-pagination {
  list-style: none;
  display: flex;
  justify-content: space-around;
  // width: 180px;
  padding: 0;
}

.carousel-pagination li {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 10px;
  border-radius: 50%;
  background: var(--cinza-dark-medio);
  border: 1px solid var(--cinza-dark-medio);
}

.carousel-pagination .current {
  border: 1px solid var(--rosa-escuro);
  background: white;
}
