.boletin-main{

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 68px;
    padding-bottom: 100px;
    background-color: var(--cinza-claro);
    
}

.boletin-wrapper{

    display: flex;
    flex-direction: column;

}


.boletin-title{

    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 34px;

}

.boletin-title h1{

    text-align: center;

}




.boletin-content {

   display: flex;
   justify-content: center;
   padding-left: 25px;
   padding-right: 25px;

    p{
        margin-bottom: 34px;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--font-black-color);
        font-size: 16px;
        line-height: 26px;
    }
}

.boletin-form-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;

}

.boletin-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    justify-content: center;


    input[type=email]{
        border: #CB9898 2px solid;
        height: 48px;
        width: 40%;
        max-width: 368px;
        min-width: 312px;
        padding-left: 10px;
        color: #CB9898;
        font-size: 12px;
        border-radius: 0;
        -webkit-appearance: none;

    }

}