:root {
    --rosa-escuro: #BC7D81;
    --rosa-medio: #F0E3E4;
    --rosa-claro: #FDF6F6;
    --rosa-lilas: #F2F1F6;

    --cinza-claro: #F2F2F2;
    --cinza-escuro: #EBEBEB;
    --cinza-dark-medio: #CCCCCC;
    --cinza-dark: #4E4A4C;

    --preto-medio: #242223;
    --preto-escuro: #4E4A4C;

    --branco-claro: #FFFFFF;
    --branco-escuro: #FBFBFB;

    --ct: #B3777B;

    --font-black-color: #615C5E;
    --font-dark-color: #3D3D3D;


  }