.logo_header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 5px;
    padding-top: 10px;
}

.logo_img{
    background-size: cover;
    background-position: center;
}

.logo_img img {
    width: 95%;
}