.component_formacion-module-content-header{

    display: flex;
    justify-content: space-between;

    .component_formacion-module-content-header-title{
      
      h2{

        font-family: AppleGaramond-Bold;
        font-size: 16px;
        margin-bottom: 10px;
        color: var(--font-black-color);

      }

    }


    .component_formacion-module-content-header-img{
      width: 97px;
      height: 57px;
      position: relative;

      img{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
      }
    }

  }