.estructura-main{

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 68px;
    padding-bottom: 77px;
    background-color: var(--branco-claro);
    
}

.estructura-title-wrapper{

    display: flex;
    flex-direction: column;

}


.estructura-title{

    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 34px;

}

.estructura-title h1{

    text-align: center;

}

.estructura-videos-wrapper{

    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding-left: 25px;
    padding-right: 25px;

}

.estructura-video-left{

    position: relative;
    width: 100%;
    padding-top: 56.25%;

    > .react-player{

        position: absolute;
        top:0;
        left:0;
        }

}

.estructura-video-right{

    position: relative;
    width: 100%;
    padding-top: 56.25%;

    > .react-player{

        position: absolute;
        top:0;
        left:0;
    

    }


}

.estructura-content {

   display: flex;
   justify-content: center;
   padding-left: 25px;
   padding-right: 25px;

}

.estructura-content p{

    margin-top: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-black-color);
    font-size: 16px;
    line-height: 26px;
}