.section-contenido_del_programa-main{

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 80px;
    padding-bottom: 94px;
    background-color: var(--rosa-lilas);
    
}

.section-contenido_del_programa-wrap{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 33px;

}

.section-contenido_del_programa-list-wrap{

    width: 100%;
    display: flex;
    justify-content: center;
    
}


.section-contenido_del_programa-list-content{

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 83px;
    row-gap: 19px;
    padding: 0 30px 0 30px;
    
}


