.videos-main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 68px;
  padding-bottom: 100px;
  background-color: var(--rosa-medio);
}

.videos-title-wrapper {
  display: flex;
  flex-direction: column;
}

.videos-title {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 34px;
}

.videos-title h1 {
  text-align: center;
}

.videos-card-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
}
