
@media screen and (max-width: 768px){

    
    .header_display{
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .menu{
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        border-radius: 0px 0 0 5px;
        height: 536px;

        -webkit-box-shadow: -7px 0px 56px -18px rgba(0,0,0,0.71);
        -moz-box-shadow: -7px 0px 56px -18px rgba(0,0,0,0.71);
        box-shadow: -7px 0px 56px -18px rgba(0,0,0,0.71);

    }

    .header_display{

        padding: 0 0px 0 20px;

        .menu_nav_position_logo {
            order: 1;
            align-items: flex-start;

        }
        .menu_nav_position_nav {
            order: 3;
            align-items: flex-start;

        }
        .menu_nav_position_contact {
            order: 2;
            align-items: flex-start;
            margin-right: 20px;
            margin-left: 0;

        }

        .hamburger-box{
            margin-top: 15px;
        } // className from the component HeaderNav
    }
 
}
