.section-procedimiento_videos-main{

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 68px;
    padding-bottom: 100px;
    background-color: var(--cinza-claro);
    
}

.section-procedimiento_videos-title-wrapper{

    display: flex;
    flex-direction: column;

}


.section-procedimiento_videos-title{

    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 34px;

}

.section-procedimiento_videos-title h1{

    text-align: center;

}

.section-procedimiento_videos-card-wrapper{

    display: grid;
    width: 100%;
    grid-gap: 0px;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: auto auto auto;  
    /* background-color: green; */

}



.section-procedimiento_videos-card-nav-left,
.section-procedimiento_videos-card-nav-right{

    /* background-color: blue; */
    min-width: 54px;
}

.section-procedimiento_videos-card-table{

    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    column-gap: 29px;
    /* grid-template-columns: repeat(auto-fit, minmax(253px, 1fr)); */
    /* background-color: red; */
    justify-content: flex-start;
}

.section-procedimiento_videos-card{

    width: 254px;
    height: 454px;
    background-color: var(--ct);

}

.section-procedimiento_videos-content {

   display: flex;
   justify-content: center;
   padding-left: 25px;
   padding-right: 25px;

}

.section-procedimiento_videos-content p{

    margin-bottom: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-black-color);
    font-size: 16px;
    line-height: 26px;
}


.section_section-procedimiento_videos-wrapper-button {
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;

}