.section-kit_completo-main {
  padding: 90px 0 90px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--branco-escuro);
}

.section-kit_completo-wrap {
  background-color: var(--rosa-claro);
  padding: 46px 60px 46px 80px;
}

.section-kit_completo-title {
  margin-bottom: 31px;
}

.section-kit_completo-content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-kit_completo-content-img-wrap {
  width: 50%;
  margin-right: 3%;
  margin-bottom: 40px;
  flex-grow: 1;
}

.section-kit_completo-content-description-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  min-width: 285px;
  margin-left: 3%;

  flex-grow: 1;

  p,
  ul {
    margin-bottom: 15px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--font-black-color);
  }
}

.section-kit_completo-content-description-bottom {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 8px 0 29px 0;
  min-width: 285px;

  p {
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--font-black-color);
  }
}
