@media screen and (max-width: 790px){

    .section-mision-bigtitle-01-wrap{
        display: block;
    }
    
    .section-mision-bigtitle-02-wrap{
        display: none;
    }
    
    .article-mision-wrap{
    
        p{
    
            padding-left:10px;
            padding-right: 10px;
        
        }

    }


}