@media screen and (max-width: 790px){

    .section-mission-bigtitle-01-wrap{
        display: block;
    }
    
    .section-mission-bigtitle-02-wrap{
        display: none;
    }
    
    .article-mission-wrap{
    
        p{
    
            padding-left:10px;
            padding-right: 10px;
        
        }

    }


}