@media screen and (max-width: 681px) {
  .component-CitasResercasCard-wrap {
    align-items: center;
    margin-bottom: 40px;
  }

  .component-CitasResercasCard-list {
    justify-content: center;

    span {
      text-align: center;
    }
  }
}
