/////////////////////////////////
/////////////////////////////////
/////////////////////////////////

.procedimientos-main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 68px;
  padding-bottom: 150px;
}

.rosa-medio__branco-escuro {
  background: linear-gradient(180deg, var(--rosa-medio) 53%, var(--branco-escuro) 47%);
}

.branco-escuro__rosa-medio {
  background: linear-gradient(180deg, var(--branco-escuro) 53%, var(--rosa-medio) 47%);
}

/////////////////////////////////
/////////////////////////////////
/////////////////////////////////

.procedimientos-title-wrapper {
  display: flex;
  flex-direction: column;
}

.procedimientos-title {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 34px;
}

.procedimientos-title h1 {
  text-align: center;
}

.procedimientos-card-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
}
